.footer{
    font-size: 1.2rem;
    font-family: 'Barlow Condensed';
    /* position: fixed; */
    top: auto;
   
    width: 100%;
  
}
.footer-first{
    background-color: 'rgba(48, 34, 124, 0.144)';
    height: '45vh'; 
}

@media (max-width: 767px) {
	.footer-first{
        background-color: 'rgba(48, 34, 124, 0.144)';
        height: '75vh'; 
    }
}

.footer-list{

    padding-top:20px ;
     padding-left:1% 
}
.footer-mira-logo{
    width: 60%;
}
@media (max-width: 767px) {
	.footer-list{
        padding-top:20px ;
         padding-left:10%
    }
    .footer-mira-logo{
        height: auto;
        width: 70%;
    }
    
}

.text-style-footer {
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-size: 35px;
	font-family: inherit;
    margin-top: 20px;
}

@media (max-width: 767px) {
	.text-style-footer {
		font-weight: bold;
		color: rgb(19, 39, 127);
		font-size: 30px;
		font-family: inherit;
		margin-top: 20px;
	}
}
