* {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: "Barlow Condensed";
}

.App {
	/* max-width: ; */
	/* margin:0rem auto; */
	/* transition:all 0.25s linear 0s; */
}

.app-content {
	margin-top: 5rem;
}

@media (max-width: 768px) {
	.app-content {
		margin-top: 4rem;
	}
}

.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

@keyframes renderFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes renderFromRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}

.photo-carousel-image {
	width: 100%;
	height: auto;
	border: 2px solid #ccc;
	/* Add any additional styles you want here */
}

/* styles.css */

.photo-slider-container {
	text-align: center;
	padding-top: 10px;
}

.photo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.photo {
	width: 20%;
	height: auto;
	margin-right: 10px;
}

.title {
	font-size: 18px;
	margin-bottom: 10px;
}

.button-container {
	margin-top: 10px;
}

.button {
	padding: 8px 16px;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}

/*/* PhotoSlider.css */
/* PhotoSlider.css */




.photo2 {
	width: 20%;
	height: auto;
	margin-right: 10px;
	border-radius: 10px;

}

.photo-slider-container-new {

	/* Add the border style, width, and color */
	border-radius: 10px;


}

@media (max-width: 767px) {
	.photo-slider-container-new {
		
	}
}

.photo-slider-new {
	display: flex;
	transition: transform 5s ease;
	/* Add a smooth transition effect on the transform property */
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.photo-new {
	max-width: 90%;
	max-height: 70%;
	border-radius: 10px;
	border: 1px solid white;
	/* Add the border style, width, and color */
	align-items: last baseline;
	justify-items: center;


}
.card-container{
background-color: rgba(48, 34, 124, 0.144);
width: 98%;
height: 100%;
border-radius: 10px;
justify-content: center;
align-items: center;
display: flex; 
flex-direction: column;
margin-left: 7px;
}

@media (max-width: 767px) {
	.photo-new {
		width: 90%;
		height: auto;
		border-radius: 10px;
		border: 1px solid white;
		/* Add the border style, width, and color */
		align-items: last baseline;
		justify-items: center;
	}
}

.photo-new-container {
	align-items: center;
	justify-content: center;
	width: 90%;
	
	margin-right: 10px;
	border-radius: 10px;
	/*border: 2px solid red; */
}


/* styles.css */

.photo-carousel-container {
	overflow: "hidden";
	padding-top: 6px;

}

.photo-slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
}


.photo {
	width: 100%;
	height: 150%;
	margin-right: 0px;
	/* Any additional styling for .photo */

}



/* You can add more styles based on your preferences */




.cool-button {
	/* Basic styling */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 500px;
	/* Add rounded corners */
	cursor: pointer;
	
	height: 40px;
	width: 40px;
	margin-top: -10%;
	margin-right:10px ;
	
	/* Add some spacing between buttons */

	/* Background and text colors */
	background-color: rgb(228, 228, 236);
	/* Light blue background */
	color: rgb(19, 39, 127);
	font-size:20px ;
	border: 1px solid  rgb(19, 39, 127);
	/* White text */

	/* Hover effects */
	&:hover {
		background-color: #abc1d0;
		/* Darker blue on hover */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		/* Add a subtle shadow */
	}

	/* Disabled state */
	&:disabled {
		background-color: #d0a6a62d;
		/* Light gray background */
		color: #999;
		/* Darker gray text */
		cursor: not-allowed;
	}
}
@media (max-width: 767px) {
	.cool-button {
		/* Basic styling */
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: sans-serif;
		font-weight: bold;
		border: none;
		border-radius: 500px;
		/* Add rounded corners */
		cursor: pointer;
		
		height: 35px;
		width: 35px;
		/* Add some spacing between buttons */
	
		/* Background and text colors */
		background-color: rgb(228, 228, 236);
		/* Light blue background */
		color: rgb(19, 39, 127);
		font-size:20px ;
		border: 1px solid  rgb(19, 39, 127);
		/* White text */
	
		/* Hover effects */
		&:hover {
			background-color: #abc1d0;
			/* Darker blue on hover */
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			/* Add a subtle shadow */
		}
	
		/* Disabled state */
		&:disabled {
			background-color: #ddd;
			/* Light gray background */
			color: #999;
			/* Darker gray text */
			cursor: not-allowed;
		}
	}
}

/* styles.css or styles.scss */

/* styles.css or styles.scss */

.constant-photo-container {
	width: 70%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.constant-photo {
	max-width: 85%;
	max-height: 80%;
	width: 35vh;
	height: 20vw;
	object-fit: cover;
	border-radius: 18px;
	box-shadow: 12px 9px 9px rgba(31, 31, 31, 0.592);
}


@media (max-width: 767px) {
	.constant-photo {
		max-width: 85%;
		max-height: 80%;
		width: 35vh;
		height: 20vw;
		object-fit: cover;
		border-radius: 18px;
		box-shadow: 12px 9px 9px rgba(31, 31, 31, 0.592);
	}
}

.photo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3%;
	padding-top: 5%;
}

@media (max-width: 767px) {
	.photo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 5%;
	}
}

.photo-text {
	margin-top: 2px;
	text-align: center;
}

/* styles.css or styles.scss */

.text-style {
	padding-left: 10px;
	font-weight: bold;
	margin-top: -5px;
	padding-bottom: 10px;
	color: rgb(19, 39, 127);
	font-size: 40px;
	font-family: inherit;
}

@media (max-width: 767px) {
	.text-style {
		padding-left: 0px;
		font-weight: bold;
		margin-top: -5px;
		color: rgb(19, 39, 127);
		font-size: 25px;
		font-family: inherit;
	}
}
.text-style-3 {
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-size: 22px;
	font-family: inherit;
}

@media (max-width: 767px) {
	.text-style-3 {
		font-weight: bold;
		color: rgb(19, 39, 127);
		font-size: 15px;
		font-family: inherit;
		padding: 10px;
	}
}



.text-style-container {

	font-weight: bold;
	color: rgb(19, 39, 127);
	font-family: inherit;
	font-Size: 25px;
	width: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -25%;
	margin-left: -7.5%;

}

@media (max-width: 767px) {
	.text-style-container {
		font-weight: bolder;
		color: rgb(19, 39, 127);
		font-family: inherit;
		font-Size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -37%;
		

	}
}

/* styles.css or styles.scss */
.text-style-2 {

	padding: 7px 5px;
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-family: inherit;
	font-Size: 25px;
	margin-Top: 0px;
	width: 100%;
	border-radius: 3px;
	width: 70%;
	opacity: 0.8;
	

}
.text-style-2a {

	padding: 7px 5px;
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-family: inherit;
	font-Size: 25px;
	margin-Top: 0px;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	width: 70%;
	opacity: 0.8;
	

}

@media (max-width: 767px) {
	.text-style-2a {
		padding: 0px 1px;
		font-weight: bolder;
		color: rgb(19, 39, 127);
		font-family: inherit;
		font-Size: 11px;
		margin-Top: 4px;
		width: 80%;
		background-color: white;
		border-radius: 99px;
		

	}
}

.logo-text {
	padding-left: 10px;
	font-weight: bolder;
	font-size: 40px;
	margin-top: 20px;
	color: rgb(19, 39, 127);
	font-family: inherit;
}

@media (max-width: 767px) {
	.logo-text {
		padding-left: 5px;
		font-weight: bolder;
		margin-top: 22%;
		color: rgb(19, 39, 127);
		font-family: inherit;
		font-size: 20px;
		display:inline;
	}

}

/* styles.css or styles.scss */

.mira-logo {
	height: 100%;
	padding-top: 10px;
	padding-left: 1%;
}

@media (max-width: 767px) {
	.mira-logo {
		width: 50%;
		padding-top: 20px;
		padding-bottom: 10px;
	}

}


.left-arrow {
	padding-left: 70px;
	align-items: center;
	display: flex;
}

.right-arrow {
	padding-right: 70px;
	align-items: center;
	display: flex;
}

@media (max-width: 767px) {
	.left-arrow {
		padding-left: 10px;
		align-items: center;
		display: flex;
	}

	.right-arrow {
		padding-right: 10px;
		align-items: center;
		display: flex;
	}

}

.photo-new-container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: self-start;
	padding-top: 0px;
	
	opacity: 0;
	/* Initially hidden */
	transition: opacity 0.3s ease;
}

.photo-new-container:hover .overlay {
	opacity: 1;
	/* Show the overlay on hover */
}
@media (max-width: 767px) {
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: self-start;
		padding-top: 10px;
		opacity: 0;
		/* Initially hidden */
		transition: opacity 0.3s ease;
	}
	.photo-new-container .overlay {
		opacity: 1;
		/* Show the overlay on hover */
	}
}

.eye-icon {
	font-size: 24px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	margin-right: 20px;
	user-select: 'none';
}

@media (max-width: 767px) {
	.eye-icon {
		font-size: 24px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		margin-right: 30px;
		user-select: 'none';
	}

}
.eye-icon-2 {
	font-size: 20px;
	color: rgb(96, 8, 8);
	cursor: pointer;
	margin-right: 20px;
	user-select: 'none';
}

.image-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.image-modal img {
	max-width: 90%;
	max-height: 90%;
	border: 2px solid white;
	/* Optional: Add a border around the image */
}

.image-modal button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	color: white;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

/* Add these styles to your ModalPhoto component's CSS */
.modal-photo {
	position: fixed;
	top: 45%;
	left: 50%;
	height: auto;
	width: auto;
	max-width: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

@media (max-width: 767px) {
	.modal-photo {
		position: fixed;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, -50%);
		z-index: 1000;
	}

}

.modal-photo-content {
	position: relative;
	max-width: 150%;
	max-height: 150%;
	overflow: auto;
	background: white;
	/* Optional: Add a background color */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.522);
	/* Optional: Add a box shadow for a bordered look */
	border-radius: 8px;
	/* Optional: Add rounded corners */
}

@media (max-width: 767px) {
	.modal-photo-content {
		position: relative;
		width: 180%;
		max-width: 200%;
		max-height: 200%;
		overflow: auto;
		margin-left: -40%;
		background: white;
		/* Optional: Add a background color */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		/* Optional: Add a box shadow for a bordered look */
		border-radius: 8px;
		/* Optional: Add rounded corners */
	}

}

.modal-photo img {
	width: 100%;
	height: auto;
	display: block;
}

.modal-photo button {
	position: relative;
	bottom: 10px;
	/* Adjusted to be at the bottom */
	left: 50%;
	transform: translateX(-50%);
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	background-color: #13277f;
}

.backOf-model {
	width: 100%;
	height: 500vh;
	z-index: 99999;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #060d179f;
}

.close-button {
	/* Basic styling */
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
	font-family: sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 0px;
	/* Add rounded corners */
	cursor: pointer;
	padding: 10px 15px;
	/* Add some spacing between buttons */

	/* Background and text colors */
	background-color: rgb(19, 39, 127);
	/* Light blue background */
	color: #fff;
	/* White text */

	/* Hover effects */
	&:hover {
		background-color: #3b85f5;
		/* Darker blue on hover */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		/* Add a subtle shadow */
	}

}

.container-last-works {
	padding-top: 40px;
}

@media (max-width: 767px) {
	.container-last-works {
		padding-top: 70px;
	}
}


.last-works {
	/* Fullscreen width and height for a seamless mirror surface */
	width: 100%;
	height: 12vh;
  
	/* Remove border and background color for transparency */
	border: none;
	background-color: transparent;
  
	/* Center and stretch content for optimal positioning */
	display: flex;
	justify-content: center;
	align-items: center;
  
	/* Optional: Add subtle gradient overlay for depth */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.977) 0%, rgba(68, 72, 167, 0.24) 100%);
  
	/* Optional: Add subtle border for visual separation */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.611);
  }
  
  /* Ensure transparency for content within the mirror element */
  .last-works > * {
	background-color: transparent;
  }

  .main-page-top-menu{

  /* Fullscreen width and height for a seamless mirror surface */
	width: 100%;
	height: 7vh;
  
	/* Remove border and background color for transparency */
	border: none;
	background-color: transparent;
  
	/* Center and stretch content for optimal positioning */
	display: flex;
	justify-content: center;
	align-items: center;
  
	/* Optional: Add subtle gradient overlay for depth */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.977) 0%, rgba(68, 72, 167, 0.24) 100%);
  
	/* Optional: Add subtle border for visual separation */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.611);
  }
  .main-page-top-menu > * {
	background-color: transparent;
  }
  


@media (max-width: 767px) {

	.last-works {
		width: 99%;
		height: 7vh;
		background-color: rgba(34, 20, 81, 0.284);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}

	.container-last-works {
		padding-top: 0px;
	}
	.main-page-top-menu{

		/* Fullscreen width and height for a seamless mirror surface */
		  width: 100%;
		  height: 5vh;
		  z-index: 9999999;
		
		  /* Remove border and background color for transparency */
		  border: none;
		  background-color: transparent;
		
		  /* Center and stretch content for optimal positioning */
		  display: flex;
		  justify-content: center;
		  align-items: center;
		
		  /* Optional: Add subtle gradient overlay for depth */
		  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.977) 0%, rgba(68, 72, 167, 0.24) 100%);
		
		  /* Optional: Add subtle border for visual separation */
		  box-shadow: 0 0 5px rgba(0, 0, 0, 0.611);
		}
		.main-page-top-menu > * {
		  background-color: transparent;
		}
		
}

.mira-last-work {
	width: 500px;
}

@media (max-width: 767px) {
	.mira-last-work {
		width: 200px;
	}

}

.photo-slider-container {
    overflow: hidden;
}

.photo-slider-to-left {
    display: flex;
    animation: moveLeftToRight 20s linear infinite; /* Adjust the duration as needed */
}

.photo-slider-to-right {
    display: flex;
    animation: moveRightToLeft 20s linear infinite; /* Adjust the duration as needed */
}
.photo-slider-to-right:hover {
    animation-play-state: paused; /* Pause the animation when hovering over the slider */
}
.photo-slider-to-left:hover {
    animation-play-state: paused; /* Pause the animation when hovering over the slider */
}
.photo-slider-item {
   
    padding: 5px;
}

.photo-slider-item img {
    height: 30vh;
    display: block; /* Fix for potential spacing issues */
    border: none; /* Remove any potential borders */
	border-radius: 10px;
}
@media (max-width: 767px) {
	.photo-slider-item img {
		height: 13vh;
		display: block; /* Fix for potential spacing issues */
		border: none; /* Remove any potential borders */
		border-radius: 10px;
	}

}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.photo-explenation{
	color:  rgb(19, 39, 127);;
	padding-left: 10%;
	font-size: 20px;
	font-weight: 200;
	font-family: inherit;
	font-weight: bold;


}

/* Container styles */
.center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  /* Section styles */
  .form-section {
	margin-top: 20px;
	text-align: center;
  }
  
  /* Input and button styles */
  .input-field {
	margin-top: 10px;
	padding: 8px;
	font-size: 16px;
	width: 200px; /* Adjust width as needed */
  }
  
  .file-input {
	margin-top: 10px;
  }
  
  .action-button {
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  .action-button[disabled] {
	background-color: #ccc;
	cursor: not-allowed;
  }
.page-of-images{
	max-height: 200px;
	max-width: 400px;
}

.main-contianer{

	padding-left: 10%;
	padding-right: 10%;
}
@media (max-width: 767px) {
	.main-contianer{

	}

}
.delete-button {
	background-color: #dc3545; /* Bootstrap danger color */
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
  }
  
  .delete-button:hover {
	background-color: #c82333; /* Darker shade on hover */
  }
  .edit-button {
	background-color: #dca534; /* Bootstrap danger color */
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 20px;
  }
  
  .edit-button:hover {
	background-color: #c8b533; /* Darker shade on hover */
  }
  
  /* Global CSS file */

/* Styling for the main container */
.delete-container {
	background-color: ''; /* Add your background color */
	width: 60%;
	font-size: 30px;
	padding-top: 0px;
  }
  @media (max-width: 767px) {
	.delete-container {
		background-color: ''; /* Add your background color */
		width: 90%;
		font-size: 20px;
		padding-top: 0px;
	  }

}
  
  /* Styling for the inner container */
  .inner-container {
	width: 100%;
	background: rgba(255, 255, 255, 0.875);
	border-radius: 7px;
	padding: 20px;
	padding-bottom: 10px;
  }

  @media (max-width: 767px) {
	.inner-container {
		width: 100%;
		background: rgba(255, 255, 255, 0.875);
		border-radius: 7px;
		padding: 20px;
		padding-bottom: 10px;
	  }
}
  
  /* Styling for the red text */
  .red-text {
	padding: 10px;
	padding-bottom: 10px;
	color: red;
  }
  
  /* Styling for the parent container of the items */
  .items-container {
	max-height: 450px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
  }
  
  /* Styling for the loading message */
  .loading-message {
	/* Add your loading styles here */
  }
  
  /* Styling for each item row */
  .item-row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
	padding-bottom: 0px;
	display: flex;
  }
  
  /* Styling for the image */
  .item-image {
	height: auto;
	max-width: 140px;
	background-color: red;
	border-radius: 5px;
  }
  
  /* Styling for the text */
  .item-text {
	background: '';
	display: flex;
	justify-content: flex-start;
	padding-left: 0px;
	align-items: center;
  }
  @media (max-width: 767px) {
	.item-text {
		background: '';
		display: flex;
		justify-content: flex-start;
		padding-left: 20px;
		align-items: center;
		margin-top: -20px;
	  }
}
  
  /* Styling for the delete button container */
  .delete-button-container {
	background: '';
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	align-items: center;
  }
  @media (max-width: 767px) {
	.delete-button-container {
		background: '';
		display: flex;
		justify-content: center;
		padding-right: 20px;
		align-items: center;
	  }
}
  
  /* Styling for the delete button */
  .delete-button {
	/* Add your button styles here */
  }
  .separator-line {
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    padding-bottom: 10px; /* Optional: Add some spacing between rows */
}

.admin-text-1{
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-size: 42px;
	font-family: inherit;
}
.admin-text-2{
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-family: inherit;
	font-Size: 25px;
	border-radius: 3px;
}

@media (max-width: 767px) {
	.admin-text-1{
		font-weight: bold;
		color: rgb(19, 39, 127);
		font-size: 22px;
		font-family: inherit;
	}
	.admin-text-2{
		font-weight: bold;
		color: rgb(19, 39, 127);
		font-family: inherit;
		font-Size: 15px;
		border-radius: 3px;
	}
	.mob-button{
		padding-bottom: 10px;
	}
}
/* Add these styles to your global CSS or in a style sheet */
.mob-button{
	padding-bottom: 0px;
}


.action-button {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 7px;
	height: 100%;
	font-size: 20px;
	font-weight: 400;

  }
  @media (max-width: 767px) {
	.mob-button{
		padding-bottom: 10px;
	}
	.action-button {
		display: block;
		width: 100%;
		padding: 10px;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.3s ease, color 0.3s ease;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 7px;
		height: 90%;
		font-size: 20px;
		font-weight: 400;
	
	  }
}
  
  .adding-button {
	background-color: #4caf50; /* Green color */
	color: #fff; /* White text */
  }
  
  .deleting-button {
	background-color: #Dc3545; /* Red color */
	color: #fff; /* White text */
  }
  
  .editing-button {
	background-color: #dca534; /* Blue color */
	color: #fff; /* White text */
  }
  
  /* Hover effect */
  .action-button:hover {
	background-color: #555; /* Dark background on hover */
	color: #fff; /* White text on hover */
  }
  


  
  /* Add this CSS to your stylesheets or component */
section {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color: rgba(47, 34, 124, 0.471);
	border-radius: 0.5rem;
  }
  
  .heading {
	text-align: center;
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
  }
  
  .lockIcon {
	display: flex;
	justify-content: center;
  }
  
  .label {
	color: white;
  }
  
  .otbInput {
	width: 100%;
	font-size: 1rem;
	border-radius: 0.25rem;
	outline: none;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
  }
  
  .verifyButton {
	background-color: rgba(20, 9, 84, 0.695);; /* Emerald color */
	width: 100%;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	overflow: hidden;
  }
  
  .spinner {
	margin-top: 3px;
  }
  
  .animate-spin {
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .admin-contaner{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30%;
  }
  @media (max-width: 767px) {
	.admin-contaner{
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 30%;
	  }
}

  .admin-photo{
	width: 100%;
  }
  .admin-arrow{
	cursor: pointer;
	display: flex;

  }/* ScrollButtons.css */

.scroll-buttons-container {
	position: fixed;
	top: 80%; /* Adjust this value to position it according to your needs */
	left: 20px;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 9999;
  }
  @media (max-width: 767px) {
	.scroll-buttons-container {
		position: fixed;
		top: 87%; /* Adjust this value to position it according to your needs */
		left: 20px;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		z-index: 9999;
	  }
}
  
  .scroll-buttons-container.visible {
	opacity: 1;
  }
  
  .scroll-button {
	margin-bottom: 10px;
	background-color: rgb(19, 39, 127);;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
  }
  

 
  
  /* Styles for the card container */
  .card-container-a {
	border: 2px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	
	
  }
  
 
  /* Styles for the photo inside the centered div */
  .photo-new-a {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	height:40vh;
  }
  
  /* Styles for the white section below the photo */
  .card-footer-a {
	background-color: white;
	width: 100%;
	height: 10vh;
	padding: 10px;
  }
  .overlay-a {
	position: relative;
  }
  /* Styles for the row in the white section */
  .card-footer-a .row {
	display: flex;
	align-items: center;
  }
  
  /* Styles for the photo explanation */
  .photo-explanation-a {
	word-wrap: break-word;
	padding-left: 10px;
	font-weight: bold;
	color: rgb(19, 39, 127);
	font-family: inherit;
	font-Size: 20px;
	width: 100%;
	width: 100%;
	opacity: 0.8;
  }
  
  
  
  .eye-icon-a {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
  }
  
  /* Styles for the WhatsApp icon container */
  .whatsapp-icon-container-a {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Styles for the WhatsApp icon */
  .whatsapp-icon-a {
	cursor: pointer;
	margin-left: 10px;
	color: #25d366;
  }
  
  /* Optional: Add hover effect to the eye icon */
  .overlay-a:hover .eye-icon {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	padding: 5px;
  }
  





/* Styles for the card container */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  background-color: rgba(48, 34, 124, 0.144);
  width: 97%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* Styles for the row inside the card container */
.card-container .row {
  width: 100%;
  background-color: transparent; /* Change this to your desired background color */
}

/* Styles for the left and right columns inside the row */
.card-container .col-6 {
  display: flex;
  justify-content: flex-start; /* For the left column */
}

.card-container .col-6:last-child {
  justify-content: flex-end; /* For the right column */
}

/* Styles for the eye icon */
.eye-icon {
  cursor: pointer;
  padding: 10px; /* Adjust the padding as needed */
}

/* Styles for the centered div with the image */
.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styles for the image inside the centered div */
.page-of-images {
  max-width: 100%;
  border-radius: 10px;
}

/* Styles for the text below the image */
.text-style-2 {
  background-color: transparent; /* Change this to your desired background color */
  width: 90%;
}

.last-works-text2{

	width: 70%;
}