* {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: "Barlow Condensed";
}
.App {
	/* max-width: ; */
	/* margin:0rem auto; */
	/* transition:all 0.25s linear 0s; */
}
.app-content {
	margin-top: 5rem;
}
@media (max-width: 768px) {
	.app-content {
		margin-top: 4rem;
	}
}

.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}
@keyframes renderFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes renderFromRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
	
}
.photo-carousel-image {
	width: 100%;
	height: auto;
	border: 2px solid #ccc;
	/* Add any additional styles you want here */
  }
  /* styles.css */

.photo-slider-container {
	text-align: center;
	margin: 20px;
	padding-top: 100px;
  }
  
  .photo-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  
  .photo {
	width: 20%;
	height: auto;
	margin-right: 10px;
  }
  
  .title {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .button-container {
	margin-top: 10px;
  }
  
  .button {
	padding: 8px 16px;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
  }
  
/*/* PhotoSlider.css */
/* PhotoSlider.css */

.photo-slider-container {
    overflow: hidden;
	border: 2px solid red; /* Add the border style, width, and color */
	padding-top: 10px;
	height: 500px;
}

.photo-slider {
    display: flex;
    transition: transform 2s ease; /* Add a smooth transition effect on the transform property */
}

.photo2 {
    width: 20%;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
    
}

.photo-slider-container-new {
    overflow: hidden;
	border: 3px solid gray;/* Add the border style, width, and color */
	height: 230px;
	padding: 50px;
	border-radius: 20px;
	
	
}

.photo-slider-new {
    display: flex;
    transition: transform 2s ease; /* Add a smooth transition effect on the transform property */
	justify-content: center;
	align-items: center;
}

.photo-new {
    width: 90%;
    height: auto;
	margin-left: 10px;
    border-radius: 10px;
	border: 2px solid white; /* Add the border style, width, and color */
    align-items: last baseline;
    justify-items: center;
	
    
}
.photo-new-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    /*border: 2px solid red; */
}


/* styles.css */

.photo-carousel-container {
	overflow: "hidden";
	padding-top: 20px;

  }
  
  .photo-slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
  }

  
  .photo {
	width: 100%;
	height: 150%;
	margin-right: 10px;
	/* Any additional styling for .photo */

  }
  
  
  
  /* You can add more styles based on your preferences */
  
  

  
.cool-button {
    /* Basic styling */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 5px; /* Add some spacing between buttons */
  
    /* Background and text colors */
    background-color:  rgb(19, 39, 127); /* Light blue background */
    color: #fff; /* White text */
  
    /* Hover effects */
    &:hover {
      background-color: #3b85f5; /* Darker blue on hover */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    }
  
    /* Disabled state */
    &:disabled {
      background-color: #ddd; /* Light gray background */
      color: #999; /* Darker gray text */
      cursor: not-allowed;
    }
  }
  

